
<div class="grid grid-cols-3">

  <div>
    <img src="/assets/images/cat1.png">
  </div>

  <div class="col-span-2 h-5/6">
    <div style="background-color: rgba(255,166,48,0.45)" class="h-full p-10">
      <!--<app-dropdown-with-icon [placeholder]="'Type'" [icon]="pawIcon"></app-dropdown-with-icon>-->

      <div>
        <label class="block text-sm font-bold mb-2" style="color: #193A6A">
          Votre animal est :
        </label>

        <div class="grid grid-cols-4 gap-5">
          <div class="aspect-square bg-white grid place-items-center rounded hover:bg-gray-100">
            <div class="rounded-full aspect-square bg-transparent w-3/5">
              <img src="assets/images/pets_types/dog.png">
            </div>
            <p>Option1</p>
          </div>

          <div class="aspect-square bg-white grid place-items-center rounded hover:bg-gray-100">
            <div class="rounded-full aspect-square bg-transparent w-3/5">
              <img src="assets/images/pets_types/cat.png">
            </div>
            <p>Option1</p>
          </div>

          <div class="aspect-square bg-white grid place-items-center rounded hover:bg-gray-100">
            <div class="rounded-full aspect-square bg-transparent w-3/5">
              <img src="assets/images/pets_types/hamster.png">
            </div>
            <p>Option1</p>
          </div>

          <div class="aspect-square bg-white grid place-items-center rounded hover:bg-gray-100">
            <div class="rounded-full aspect-square bg-transparent w-3/5">
              <img src="assets/images/pets_types/bird.png">
            </div>
            <p>Option1</p>
          </div>
        </div>
      </div>



      <div class="grid grid-cols-2">
        <app-text-input-with-icon [icon]="pawIcon" [placeholder]="'Nom'"> </app-text-input-with-icon>
        <!--Photo-->
      </div>

      <div class="grid grid-cols-2">
        <app-text-input-with-icon [placeholder]="'Race'"> </app-text-input-with-icon>
        <app-text-input-with-icon [placeholder]="'Date de Naissance'"> </app-text-input-with-icon> <!--Birthday-->
      </div>

      <div class="grid grid-cols-2">
        <app-dropdown-with-icon [placeholder]="'Genre'" [icon]="genderIcon"></app-dropdown-with-icon>
        <app-text-input-with-icon [placeholder]="'Poids'" [icon]="weightIcon" [type]="'number'"> </app-text-input-with-icon> <!--Birthday-->
      </div>
      <!--Other notres-->

    </div>

    <div class="grid place-items-center p-1">
      tstt
    </div>

  </div>

</div>



