.container-border {
  border: 2px solid #193A6A;
}

@media only screen and (max-width: 500px) {
  .image {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .responsive-img {
    display: none;
  }

  .centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    width: 95vw;
    padding: 10%;
  }
}


