
<div class="grid place-items-end w-full">
  <button class="mr-6 mb-6 bg-yellow-500 text-white px-5 py-2.5 mr-10 mb-2 rounded-lg" (click)="modify()">Modifier</button>
</div>

<form class="mx-10" #modifyUserForm="ngForm">

  <div class="grid gap-6 mb-6 md:grid-cols-2">
    <div>
      <label class="block mb-2 text-sm font-medium">Nom</label>
      <input name="lastName" [(ngModel)]="user.lastName" required [readonly]="readOnly" class="border border-gray-300 text-sm rounded-lg block w-full p-2.5 placeholder-black focus:outline-none">
    </div>
    <div>
      <label class="block mb-2 text-sm font-medium">Prenom</label>
      <input [(ngModel)]="user.firstName" name="firstName" required [readonly]="readOnly" class="border border-gray-300 text-sm rounded-lg block w-full p-2.5 placeholder-black focus:outline-none">
    </div>
    <div>
      <label class="block mb-2 text-sm font-medium">Date de naissance</label>
      <input [(ngModel)] ="date" type="date" name="birthDate" required [readonly]="readOnly" class="border border-gray-300 text-sm rounded-lg block w-full p-2.5 placeholder-black focus:outline-none">
    </div>
    <div>
      <label class="block mb-2 text-sm font-medium">Ville</label>
      <input [(ngModel)]="user.city" name="city" required [readonly]="readOnly" class="border border-gray-300 text-sm rounded-lg block w-full p-2.5 placeholder-black focus:outline-none">
    </div>
    <div>
      <label class="block mb-2 text-sm font-medium">Sexe</label>
      <input [(ngModel)]="user.gender" name="gender" required [readonly]="readOnly" class="border border-gray-300 text-sm rounded-lg block w-full p-2.5 placeholder-black focus:outline-none">
    </div>
    <div>
      <label class="block mb-2 text-sm font-medium">Email</label>
      <input [(ngModel)]="user.email" name="email" type="email" required [readonly]="readOnly" class="border border-gray-300 text-sm rounded-lg block w-full p-2.5 placeholder-black focus:outline-none">
    </div>

  </div>
  <div class="grid place-items-center w-full">
    <button [ngClass]="{'invisible': readOnly}" class="text-white bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 w-1/3 invisible" [ngClass]="{'button-disabled': modifyUserForm.invalid}" [disabled]="modifyUserForm.invalid"  (click)="onConfirmClick(modifyUserForm)">Confirmer</button>
  </div>

</form>
