<form #loginForm="ngForm">
  <div class="grid grid-cols-2">
    <app-text-input-with-icon
    [icon]="emailIcon"
    [placeholder]="'Email'"
    [name]="'email'">
    </app-text-input-with-icon>
  </div>

  <div class="grid grid-cols-2">
    <app-text-input-with-icon
      [icon]="passwordIcon"
      [placeholder]="'Password'"
      [type]="'password'"
      [name]="'password'"
    >
    </app-text-input-with-icon>
  </div>

  <button
    type="button"
    class="text-white font-medium rounded text-sm px-10 py-2.5 mb-1 mt-5 bg-[#193A6A] border-2"
    [disabled]="loginForm.invalid"
    [ngClass]="{ 'button-disabled': loginForm.invalid }"
    (click)="login(loginForm)"
  >
    Login
  </button>
</form>
