.task-element {
  font-size: 1.5vw;
}

.task-container {
  width: 90%;
  border-radius: 0.75vw;
  border-width: 0.2vw;
  border-style: solid;
  padding: 1vw;
}

.w-10 {
  width: 10%;
}

.pointer-cursor {
  cursor: pointer;
}
