.bg{
  background-image: url('../../../assets/images/orange_motif_with_cat.png');
  object-fit: contain;
  background-size: auto 100%
}


@media (min-width: 1024px){
  .bg{
    background-image: url('../../../assets/images/orange_motif_with_cat.png');
    object-fit: contain;
    background-size: 100%
  }
}


textarea {
  resize: none;
}
.button-disabled{
  opacity: 0.6;
}
