<app-navbar-logged class="fixed w-full z-10" [bgColor]="'FFFFFF'" [textBlack]="true"></app-navbar-logged>
<div class="grid place-items-center bg-no-repeat bg-left min-h-screen bg py-8">
  <div class="grid grid-cols-1 w-1/2">
    <form class="bg-white rounded-xl py-6 px-10" style="background-color: rgba(255, 255, 255, 0.7)" #updateServiceForm="ngForm">

      <div class="w-full pt-1">
        <label class="block mb-2 text-sm font-medium">Categorie</label>
        <select  [(ngModel)]="service.category" ngModel name="category" required class="border border-gray-300 text-sm rounded-lg block w-full p-2.5 placeholder-black focus:outline-none bg-white">
          <option selected hidden></option>
          <option *ngFor="let category of serviceCategories; let i=index" value="{{serviceCategoriesEN[i]}}">{{category}}</option>
        </select>
      </div>

      <div class="w-full pt-1">
        <label class="block mb-2 text-sm font-medium">Titre</label>
        <input [(ngModel)]="service.title" ngModel name="title" required class="border border-gray-300 text-sm rounded-lg block w-full p-2.5 placeholder-black focus:outline-none bg-white">
      </div>

      <div class="w-full pt-1">
        <label class="block mb-2 text-sm font-medium">Description</label>
        <textarea [(ngModel)]="service.description" ngModel name="description" required rows="3" (resize)="false" class="border border-gray-300 text-sm rounded-lg block w-full p-2.5 placeholder-black focus:outline-none bg-white"></textarea>
      </div>

      <div class="w-full pt-1">
        <label class="block mb-2 text-sm font-medium">Ville</label>
        <input [(ngModel)]="service.city" ngModel name="city" required class="border border-gray-300 text-sm rounded-lg block w-full p-2.5 placeholder-black focus:outline-none bg-white">
      </div>

      <div class="w-full pt-1">
        <label class="block mb-2 text-sm font-medium">Dinars/Heure</label>
        <input [(ngModel)]="service.price" ngModel name="price" required type="number" class="border border-gray-300 text-sm rounded-lg block w-full p-2.5 placeholder-black focus:outline-none bg-white">
      </div>

      <div class="grid place-items-center w-full mt-5">
        <button class="text-white bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-3 w-1/3 truncate" [ngClass]="{'button-disabled': updateServiceForm.invalid}" [disabled]="updateServiceForm.invalid"  (click)="updateService(updateServiceForm)">Confirmer</button>
      </div>
    </form>
  </div>

</div>
