<div class="grid h-screen place-items-center bg-no-repeat bg-right" style="background-image: url('../../../assets/images/orange_motif.png')">

  <div class="grid grid-cols-3 gap-4 h-2/3 w-3/4">

    <div class="h-full bg-white rounded-xl grid place-items-center" style="background-color: rgba(255, 255, 255, 0.7)">
      <button>Mon profile</button>
      <button>Changer mot de passe</button>
      <button (click)="onAddPetClick()">Ajouter un animal</button>
      <button class="focus:outline-none text-white bg-red-700 hover:bg-red-800 font-medium rounded-lg text-sm px-5 py-2.5" (click)="onDeleteClick()">Supprimer compte</button>
    </div>

    <div class="col-span-2 h-full bg-white rounded-xl grid place-items-center" style="background-color: rgba(255, 255, 255, 0.7)">
      <app-profile-display class="w-full"></app-profile-display>
    </div>

  </div>

</div>
