<app-navbar-logged class="fixed w-full" [bgColor]="'0091AD'"></app-navbar-logged>

<div class="grid place-items-center bg-no-repeat bg-right max-md:bg-amber-400 min-h-screen max-md:pb-40" style="background-image: url('../../../assets/images/orange_motif.png'); object-fit: fill">

  <div class="grid grid-cols-3 gap-4 h-2/3 w-3/4">

    <div class="h-full bg-white rounded-xl grid place-items-center py-20 max-md:py-40 px-2" style="background-color: rgba(255, 255, 255, 0.7)">
      <button class="font-medium rounded-lg text-sm px-5 py-3.5 mb-2 w-3/4 truncate" (click)="onPageChange(0)" [ngClass]="{'bg-yellow-500 text-white' : pageIndex==0}">Mon profile</button>
      <button class="font-medium rounded-lg text-sm px-5 py-3.5 mb-2 w-3/4 truncate" (click)="onPageChange(1)" [ngClass]="{'bg-yellow-500 text-white' : pageIndex==1}">Changer mot de passe</button>
      <button class="font-medium rounded-lg text-sm px-5 py-3.5 mb-2 w-3/4 truncate" (click)="onPageChange(2)" [ngClass]="{'bg-yellow-500 text-white' : pageIndex==2}">Mes demandes de services</button>
      <button class="font-medium rounded-lg text-sm px-5 py-3.5 mb-2 w-3/4 truncate" (click)="onAddClick()">Ajouter un {{addText}}</button>
      <button class="font-medium rounded-lg text-sm px-5 py-3.5 mb-2 w-3/4 truncate" (click)="onConsultPets()">Consulter la liste de mes animaux</button>
      <button class="text-white bg-red-700 font-medium rounded-lg text-sm px-5 py-3.5 w-3/4 truncate" (click)="onDeleteClick()">Supprimer compte</button>
    </div>

    <div class="col-span-2 h-full bg-white rounded-xl grid place-items-center overflow-auto">
      <app-profile-display *ngIf="pageIndex==0" class="w-full"></app-profile-display>
      <app-change-password *ngIf="pageIndex==1" class="w-full"></app-change-password>
      <div *ngIf="pageIndex==2" class="w-full h-full mt-5 mx-7 px-3 pt-5">
        <app-services-requests-list></app-services-requests-list>
      </div>
    </div>

  </div>

</div>
