<div class="h-full grid grid-cols-1 content-start">
  <div class="grid grid-cols-1 md:grid-cols-3 place-items-center">
  <span
    class="px-4 py-2 rounded-full bg-gray-200 font-semibold text-sm flex align-center w-max" [ngClass]="{'bg-blue-500 text-white': filterOptions[0]}" (click)="onChipClick(0)">
    En attente
  </span>
    <span
      class="px-4 py-2 rounded-full bg-gray-200 font-semibold text-sm flex align-center w-max" [ngClass]="{'bg-green-500 text-white': filterOptions[1]}" (click)="onChipClick(1)">
    Confirmé
  </span>
    <span
      class="px-4 py-2 rounded-full bg-gray-200 font-semibold text-sm flex align-center w-max" [ngClass]="{'bg-red-500 text-white': filterOptions[2]}" (click)="onChipClick(2)">
    Annulée
  </span>
  </div>

  <div *ngFor="let request of servicesRequestsFiltered" class="m-1 grid place-items-center">

    <div class="w-5/6 p-6 bg-gray-300 border border-gray-200 rounded-lg shadow-md my-1 gap-3" [ngClass]="{'grid grid-cols-5': role.toLowerCase().includes('provider')}">
      <div [ngClass]="{'col-span-4': role.toLowerCase().includes('provider')}">
        <p class="font-normal text-gray-700 text-sm">Date du service: {{request.date | date:"dd/MM/YYYY"}}</p>
        <p class="font-normal text-gray-700 text-sm">Categorie du service: {{categoryType(request.service!.category)}}</p>
        <p class="font-normal text-gray-700 text-sm">Animal: {{animalType(request.animalType)}}</p>
        <p *ngIf="role.toLowerCase().includes('provider')" class="font-normal text-gray-700 text-sm">Téléphone: {{request.phone}}</p>
        <p class="font-normal text-gray-700 text-sm">Addresse: {{request.address}}</p>
        <p *ngIf="role.toLowerCase().includes('provider')" class="font-normal text-gray-700 text-sm">Propriétaire de l'animal : {{request.petOwner!.lastName}} {{request.petOwner!.firstName}}</p>
        <p *ngIf="role.toLowerCase().includes('petowner')" class="font-normal text-gray-700 text-sm">Founisseur de service : {{request.provider!.lastName}} {{request.provider!.firstName}}</p>
        <p class="font-normal text-sm font-semibold"  [ngClass]="{'text-red-500': request.status=='canceled', 'text-green-500': request.status=='confirmed', 'text-blue-500': request.status=='pending'}" >Status: {{statusType(request.status!)}}</p>
      </div>

      <div *ngIf="role.toLowerCase().includes('provider') && request.status=='pending'" class="grid grid-cols-1 my-8 md:my-0.5">
        <button type="button" class="text-white bg-green-600 font-medium rounded-full text-sm mb-2 p-0.5 truncate" (click)="onConfirmClick(request.id!)" ><fa-icon [icon]="confirmIcon" class="fas fa-lock"></fa-icon> Confirmer</button>
        <button type="button" class="text-white bg-red-500 font-medium rounded-full text-sm mb-2 p-0.5 truncate" (click)="onCancelClick(request.id!)"><fa-icon [icon]="cancelIcon" class="fas fa-lock"></fa-icon> Annuler</button>

      </div>

    </div>

  </div>
</div>

