
<div class="grid grid-cols-2 m-0">

  <div class="responsive-img">
    <img style="height:102%; object-fit: cover;" src="../../../assets/images/cat1.png">
  </div>

  <div class="centered-form pt-2">
    <form class="h-full p-0 m-0 mb-2 mt-2" #addPetForm="ngForm">
      <label class="block text-sm font-bold mb-2 pl-14 pr-14" style="color: #193A6A">
        C'est quoi votre animal ? <strong style="color: red">*</strong>
      </label>
      <div class="mx-4 mb-2 mx-14">
        <div class="grid grid-cols-4 gap-2 ml-1 mr-1">
          <div class="aspect-square bg-white grid place-items-center rounded hover:bg-gray-100 border-gray-500 bg-gray-50 border-2" [ngClass]="{'border-gray-500': animal == 0, 'border-gray-100': animal!=0}" (click)="chooseAnimal(0)" >
            <div class="rounded-full aspect-square bg-transparent w-3/5">
              <img style="border-radius: 50%;" src="../../../assets/images/pets_types/dog.png">
            </div>
            <p>Chien</p>
          </div>

          <div class="aspect-square bg-white grid place-items-center rounded hover:bg-gray-100 border-gray-500 bg-gray-50 border-2" [ngClass]="{'border-gray-500': animal == 1, 'border-gray-100': animal!=1}" (click)="chooseAnimal(1)" >
            <div class="rounded-full aspect-square bg-transparent w-3/5">
              <img style="border-radius: 50%;" src="../../../assets/images/pets_types/cat.png">
            </div>
            <p>Chat</p>
          </div>

          <div class="aspect-square bg-white grid place-items-center rounded hover:bg-gray-100 border-gray-500 bg-gray-50 border-2" [ngClass]="{'border-gray-500': animal == 2, 'border-gray-100': animal!=2}" (click)="chooseAnimal(2)" >
            <div class="rounded-full aspect-square bg-transparent w-3/5">
              <img style="border-radius: 50%;" src="../../../assets/images/pets_types/hamster.png">
            </div>
            <p>Hamster</p>
          </div>

          <div class="aspect-square bg-white grid place-items-center rounded hover:bg-gray-100 border-gray-500 bg-gray-50 border-2" [ngClass]="{'border-gray-500': animal == 3, 'border-gray-100': animal!=3}" (click)="chooseAnimal(3)" >
            <div class="rounded-full aspect-square bg-transparent w-3/5">
              <img style="border-radius: 50%;" src="../../../assets/images/pets_types/bird.png">
            </div>
            <p>Oiseau</p>
          </div>
        </div>

      </div>
      <div class="pl-20 pr-20 ">

        <app-text-input-with-icon [icon]="pawIcon" [placeholder]="'Nom'" [name]="'name'"> </app-text-input-with-icon>

        <app-text-input-with-icon [placeholder]="'Race'" [name]="'breed'"> </app-text-input-with-icon>

        <app-text-input-with-icon [placeholder]="'Date de Naissance'" [type]="'date'" [icon]="dateIcon" [name]="'birthDate'"> </app-text-input-with-icon>

        <app-dropdown-with-icon [placeholder]="'Genre'" [icon]="genderIcon" [name]="'gender'"></app-dropdown-with-icon>

        <app-text-input-with-icon [placeholder]="'Poids'" [icon]="weightIcon" [type]="'number'" [name]="'weight'"> </app-text-input-with-icon>

      </div>

      <!--<div *ngIf="showAlert" class="ml-20 mr-20 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <span class="block sm:inline">Veuillez remplir tous les champs obligatoires.</span>
      </div>-->

      <div class="flex justify-center">
        <button type="button"
                class="text-white font-medium rounded text-sm px-10 py-2.5 mb-1 mt-5 bg-[#193A6A] border-2"
                [disabled]="addPetForm.invalid || animal == -1"
                [ngClass]="{'button-disabled': addPetForm.invalid || animal == -1}"
                (click)="addPet(addPetForm)">
          Confirmer
        </button>
      </div>

    </form>
  </div>

</div>



