.border-gradient:not(:has(select.ng-invalid.ng-touched)) {
  padding: 0.09rem;
  position: relative;
  background: linear-gradient(to right, #172D4E, #738dc2, #193A6A);
}

select {
  outline: 0px solid transparent;
}

select.ng-invalid.ng-touched{
  border: red 1px solid;
}
