<div class="max-w-xs p-5">
  <label class="block text-sm font-bold mb-2" style="color: #193A6A">
    OMG
  </label>

  <div class="flex w-full relative border-gradient rounded">
    <span class="z-10 h-full leading-snug font-normal absolute text-center text-slate-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3">
        <fa-icon [icon]="icon" class="fas fa-lock"></fa-icon>
      </span>
    <select class="flex w-full px-6 py-3 bg-white text-left text-slate-700 text-base rounded shadow-md items-center pl-10 dark:text-slate-500">
      <option disabled selected hidden>Type???</option>
      <option value="">Chat</option>
      <option value="">Chien</option>
      <option value="">Hamster</option>
      <option value="">Oiseau</option>
    </select>
  </div>
</div>
