<button class="btn btn-blue fixed rounded-full mt-8 ml-8 bg-white px-3 py-2 text-yellow-500" (click)="backClicked()">
  <fa-icon [icon]="backIcon" class="fas fa-lock"></fa-icon>
</button>

<img src="assets/svg/BG.svg" class="bg-svg">
<div class="row m-3 tasks-containers">
  <div class="col tasks-container">
    <img src="assets/img/Paws.png" class="position-absolute under">
    <div class="date">
      <span class="day">
        {{ dayNumber | rankPipe }}
      </span> of {{ month }}, {{ year }}
    </div>
    <div class="sched-tasks">
      Scheduled Tasks :
    </div>
    <div class="col">
      <app-task *ngFor="let task of tasks" [task]="task" class="row"></app-task>
    </div>
  </div>
  <div class="col tasks-container">
    <img src="assets/img/Paws.png" class="position-absolute under">
    <h1>
      Add a Task
    </h1>
    <form (ngSubmit)="onSubmit(task)" #task="ngForm" class="task-form">
      <div class="col mt-4">
        <label class="row">Titre</label>
        <input class="row input" type="text" name="title" placeholder="titre" [(ngModel)]="title">
      </div>
      <div class="col mt-4">
        <label class="row">Contenu</label>
        <textarea class="row input" [(ngModel)]="content" name="content" cols="3" placeholder="contenu"></textarea>
      </div>
      <div class="col mt-4">
        <label class="row">Temps</label>
        <input class="row input" [(ngModel)]="time" name="time" type="time">
      </div>
      <div class="col mt-4">
        <label class="row">Couleur</label>
        <input class="row color-input" name="color" type="color" list="presets" value="#193A6A" [(ngModel)]="color">
      </div>
      <datalist id="presets">
        <option value="#FF9330">Orangé</option>
        <option value="#193A6A">Bleu</option>
      </datalist>
      <div class="mt-4">
        <button type="submit" class="submit-button">Ajouter</button>
      </div>
    </form>
    <img src="assets/img/Paws.png" class="position-absolute under position-paws">
  </div>
</div>
