<div class="w-full h-full my-5 flex justify-center w-full">
  <div class="pl-1 bg-gray-200 flex justify-center rounded-xl hover:scale-105 duration-500 transform transition cursor-pointer w-3/4">


    <div *ngIf="isMine" class="top-0 left-0 mt-3 px-2 rounded-lg absolute z-30 bg-green-500 text-gray-100 text-xs md:text-sm font-medium md:block">Mon Service</div>
    <div *ngIf="isMine" class="top-0 left-0 h-2 md:h-3 mt-5 px-2 absolute z-20 bg-green-500"></div>
    <div *ngIf="isMine" class="top-0 left-0 h-2 md:h-3 mt-6 pl-5 rounded-3xl absolute z-0 bg-green-600"></div>

    <div class="pb-2 bg-white rounded-xl shadow-xl z-10 w-full">
      <div class="relative">


        <img src="../../../assets/images/services_categories/{{service.category}}.png" class="max-h-60 w-full object-fill rounded-t-xl">

        <div class="bottom-0 right-0 mb-2 mr-2 px-2 rounded-lg absolute bg-yellow-500 text-gray-100 test-xs md:text-sm md:font-medium">{{category}}</div>

      </div>


      <div class="px-2 py-1">
        <div class="text-sm md:text-base font-bold text-center truncate">{{service.title}}</div>

        <div class="h-0.5 w-full bg-gray-200 mt-1"></div>

        <div class="flex pt-1">
          <div class="flex justify-between item-center w-full">
            <div class="flex items-center w-full">
              <p class="text-gray-600 font-semibold text-xs md:text-sm truncate text-center w-full truncate">
                Nom: {{service.user!.lastName}} {{service.user!.firstName}}
              </p>
            </div>
          </div>
        </div>

        <div class="flex pt-1">
          <div class="flex justify-between item-center w-full">
            <div class="flex items-center w-full">
              <p class="text-gray-600 font-semibold text-xs md:text-sm truncate text-center w-full truncate">
                Email: {{service.user!.email}}
              </p>
            </div>
          </div>
        </div>

        <div class="h-0.5 w-full bg-gray-200 mt-1"></div>

        <div class="flex p-1">
          <div class="flex justify-between item-center">
            <div class="flex items-center">
              <fa-icon [icon]="locationIcon" class="fas fa-lock icon"></fa-icon>
              <p class="text-gray-600 font-bold text-xs md:text-sm ml-1 truncate">
                {{service.city}}
              </p>
            </div>
          </div>
        </div>

        <div class="flex  ">
          <div class="flex justify-between item-center">
            <div class="flex items-center">
              <fa-icon [icon]="moneyIcon" class="fas fa-lock icon"></fa-icon>
              <p class="text-gray-600 font-bold text-xs md:text-sm ml-1 truncate">
                {{service.price}}
              </p>
              <p class="text-gray-600 font-light text-xs ml-1 truncate">
                Dinars/H
              </p>
            </div>
          </div>
        </div>

        <div class="pb-2">
          <p class="text-gray-600 font-bold text-xs md:text-sm">Description : </p>
          <p class="text-xs text-xs md:text-sm text-gray-500" [ngClass]="{'truncate': truncate}">
            {{service.description}}  {{service.description}}  {{service.description}}  {{service.description}}  {{service.description}}
          </p>
        </div>


        <div class="flex justify-center item-center text-sm underline mb-2">
        <button (click)="onDetailsClick()">{{detailsButtonText}}</button>
        </div>


        <div class="flex justify-center item-center" *ngIf="role!=undefined && role!='' && role.toLowerCase().includes('petowner')">
          <button class="text-white bg-blue-600 hover:bg-blue-800 font-medium rounded-lg text-xs md:text-sm px-2 md:px-5 py-1 md:py-2.5 mr-2 mb-2 mt-2" (click)="onRequestClick()" >Demander</button>

        </div>
      </div>
    </div>
  </div>
</div>
