.border-gradient:not(:has(input.ng-invalid.ng-touched)){
  padding: 0.09rem;
  position: relative;
  background: linear-gradient(to right, #172D4E, #738dc2, #193A6A);
}

input.ng-invalid.ng-touched{
  border: red 1px solid;
}
